.border{
    border:3px black solid;
    width: 315px;
    display: none;
}

.text{
    font-size: large;
    height: 90px;
    resize: none;
    display: none;
}

#but{
    height: 50px;
    width: 120px;
    background-color: green;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    box-shadow: black 3px;
    border-radius: 25px;

}
#but:hover{
    cursor: pointer;
    border-color: chartreuse;
}

#wa{
    color: crimson;
}
.par{
    background-color: darkgrey;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 500%;
    
}