.border{
    border:3px black solid;
    width: 315px;
    display: none;
}



@keyframes background1 {
    from {background-color: rgb(42, 209, 9);}
    to {background-color: aqua;}
}


body{

}


.text{
    font-size: large;
    height: 90px;
    resize: none;
    display: none;
}

#but{
    height: 50px;
    width: 120px;
    background-color: white;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    box-shadow: black 3px;
    border-color: white;


}
#but:hover{
    cursor: pointer;
    animation-name: settings;
    animation-duration: 0.5s;
    
    background-color:grey;
    color: white;
    border-color: grey;
    
}





#wa{
    color: crimson;
}
.par{
    background-color: darkgrey;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 500%;
    
}

#settings::after{
    transition: 25px 2s;
}


@keyframes settings {
        from {background-color: white; color: grey; border-color: white;}
        to {background-color: grey; color: white; border-color: grey;}
}



#settings:hover::after{
    position: absolute;
    content: ' Settings';
    border: black 2px solid;
    color: black;
    animation-name: settings;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: red;
}
#settings:hover{
    cursor: pointer;
}

.type{
    display: none;
}

label{
    display: none;
    width: 220px;
}
#r{
    display: none;
}
#b{
    display: none;
}
.line{
    display: none;
}
#support{
    display: none;
}
input[type=color]{
    display: none;
}